{% include header.html %}

<body>
    <main>
        <h1>Nee, helaas niet.</h1>
        <h2>Maar de volgende is over:</h2>
        <div>
            <div class="days t">
                <p></p>
                <p class="timeunit">dagen</p>
            </div>
            <div class="hours t">
                <p></p>
                <p class="timeunit">uur</p>
            </div>
            <div class="minutes t">
                <p></p>
                <p class="timeunit">minuten</p>
            </div>
            <div class="seconds t">
                <p></p>
                <p class="timeunit">seconden</p>
            </div>
        </div>
        <a HREF="mailto:thestiffmeister42069@gmail.com">MAIL DE <br>COMMISSIE</a>
    </main>
</body>


{% include footer.html%}