{% include header.html %}
<body>
    <main>
        <h1 onclick=hetIsBal()>Nee, helaas niet.</h1>
        <h2>Maar de volgende is over:</h2>
        <div>
            <div class="days t">
                <p></p>
                <p class="timeunit">dagen</p>
            </div>
            <div class="hours t">
                <p></p>
                <p class="timeunit">uur</p>
            </div>
            <div class="minutes t">
                <p></p>
                <p class="timeunit">minuten</p>
            </div>
            <div class="seconds t">
                <p></p>
                <p class="timeunit">seconden</p>
            </div>
        </div>
        <a HREF="mailto:thestiffmeister42069@gmail.com">MAIL DE <br>COMMISSIE</a>
    </main>
    <div class="overlay displayNone">
        <h2 class="ja">Ja, het is bal.</h2>
        <div><h1>Guus</h1></div>
        <div><h1>Marc</h1></div>
        <div><h1>Niels</h1></div>
        <div><h1>Vincent</h1></div>
        <div><h1>Bram</h1></div>
        <div><h1>Bart</h1></div>
        <div><h1>Robbert</h1></div>
        <div><h1>Cas</h1></div>
        <div><h1>Ruben</h1></div>
        <div><h1>Milan</h1></div>
        <div><h1>Lex</h1></div>
        <img class="pil p1" src="/pil.png" alt="">
        <img class="pil p2" src="/pil.png" alt="">
        <img class="pil p3" src="/pil.png" alt="">
        <img class="pil p4" src="/pil.png" alt="">
    </div>
</body>


{% include footer.html%}